{% extends "base.html" %}
{% block content %}

<!-- One -->
<section id="one">
        <header class="major">
            {% if outcome %}
                <div class="col-12">
                    <h2 class="row aln-center">Your text Sparks Joy!</h2>
                    <span class="image fit">
                        <img src="{{ url_for('static', filename='images/fulls/sparkjoy.png') }}" display="inline" alt="" />
                    </span>
                </div>
            {% else %}
                <h2 class="row aln-center">Your text doesn't Spark Joy!</h2>
                <div class="col-12">
                    <span class="image fit">
                        <img src="{{ url_for('static', filename='images/fulls/This-one-does-not-spark-joy.png') }}" display="inline" alt="" />
                    </span>
                </div>
            {% endif %}
        </header>

            <div class="col-12">
                <h3><u>Additional model details:</u></h3>
                <h4>Classification model used: 
                {% if modeltype == "vc" %}
                    Voting Classifier
                {% elif modeltype == "nb" %}
                    Naïve Bayes
                {% else %}
                    Logistic Regression
                {% endif %} </h4>

                <h4>Strength of your text's "Konmariness": {{probs}}</h4>
                <h5>(Greater than 50% indicates "Sparks Joy" and higher indicates greater joy!)</h5>

                <h4><u>You entered the following text:</u></h4>
                <textarea name="" id="" cols="30" rows="10">{{words}}</textarea>
            </div>
</section>
<br>
<section id="two">
    <span>
    <div class="row">
        <!-- Need to add in project description page -->
        <!-- <div class="col-12 col-12-small">
                <h4><a href="http://www.willkarnasiewicz.com/konmari-nlp.html">Read more about this project.</a></h4>
        </div> -->
        <div class="col-12 col-12-small">
                <h4><a href="http://www.willkarnasiewicz.com">Head back to my homepage.</a></h4>
        </div>
    </div>
    </span>
</section>

{% endblock %}